[submodule "your-true-self"]
	path = your-true-self
	url = https://github.com/vyperpunk/your-true-self
[submodule "42-yerevan-rules-unofficial"]
	path = 42-yerevan-unofficial-guide
	url = https://github.com/alurm/42-yerevan-unofficial-guide
