:root {
    /* For light-dark() to work. */
    color-scheme: light dark;
    
    /* 
    * For the dark color:
    * https://m3.material.io/blog/android-dark-theme-tutorial.
    */
    --white: #f3f3f3;
    --black: #121212;

}

body {
    background-color: light-dark(var(--white), var(--black));
    color: light-dark(var(--black), var(--white));

    margin: 0 auto;
    width: 80ch;
}

a:not(:visited) {
    color: light-dark(blue, #00ff00);
}

pre {
    overflow: scroll;
    border: 1px solid light-dark(var(--white), var(--black));
}

/* Feels weird for web pages, but ok for PDFs. */
/*
h1, h2 {
    display: flex;
    justify-content: center;
}
*/
