:root {
    /* For light-dark() to work. */
    color-scheme: light dark;
    
    /* 
    * For the dark color:
    * https://m3.material.io/blog/android-dark-theme-tutorial.
    */
    --white: #f3f3f3;
    --black: #121212;
}

body {
    background-color: light-dark(var(--white), var(--black));
    color: light-dark(var(--black), var(--white));

    margin: 0 auto;
    padding: 1rem;

    font: 1em/1.4 system-ui;
}

/*
TODO: consider this:
body { max-width: 720px }
*/

@media (min-width: 768px) {
    body {
        width: 80%
    }
}

@media (min-width: 1024px) {
    body {
        width: 65%;
    }
}

@media (min-width: 1440px) {
    body {
        width: 50%;
    }
}

a:not(:visited) {
    color: light-dark(blue, #00ff00);
}

pre {
    overflow-x: scroll;
}

pre, td {
    border: 1px solid light-dark(var(--black), var(--white));
}

td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

table {
    border-collapse: collapse;
}

/* Feels weird for web pages, but ok for PDFs. */
/*
h1, h2 {
    display: flex;
    justify-content: center;
}
*/
